.search-results{
  width: 200px;
}

.search-results>*{
  margin: 4px 0;
}

.total{
  padding: 15px 10px;
  background-color: #DDDDDD;
}

.total__label{
  font-weight:bold;
}
.total__time{

}
.total__cost{
  font-weight:bold;
}

.price--old {
  text-decoration: line-through;
  color: red;
}
