.result-item {
  padding: 1px 10px;
  margin: 4px 0;
  background-color: #EEEEEE;
}

.result-item > * {
  margin: 10px 0;
}

.result-item__departure {
}

.result-item__arrival {
}

.price--old {
  text-decoration: line-through;
  color: red;
}

.price--new{
  color: green;
}
